/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  height: 74vh;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* color: #9e9e9e; */
}

.main a {
  color: #030381;
}

.main a:hover {
  color: #7c0fe2;
}

.main2 {
  display: flex;
  flex-direction: column;
  height: 70vh;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main h1 {
  font-size: 2rem;
}

.prod-layout {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header a {
  color: #702f01;
}

.header li {
  list-style: none;
}

.anchorTags {
  color: #030381;
}

.anchorTags:hover {
  color: #7c0fe2;
}

button {
  background-color: red;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  /* width: 100px; */
}

.global-error-wrapper {
  display: flex;
  flex-direction: column;
}

.card-el {
  height: 80vh;
  width: 900px;
  padding: 100px;
  margin: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.border{
  color: burlywood;
  border: 1px solid red;
}


.modal-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 2rem;
  border-radius: 7px;
  border: 1px solid gray;
  box-shadow: 9px 10px 7px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 10px 7px -4px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 9px 10px 7px -4px rgba(0, 0, 0, 0.95);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#a04402) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:l4 1s infinite steps(10);
}
@keyframes l4 {to{transform: rotate(1turn)}}

/* HTML: <div class="loader"></div> */
.loader2 {
  width: calc(80px / cos(45deg));
  height: 14px;
  --c: #000 0 15px,#0000 0 20px;
  background: 
    repeating-linear-gradient(135deg,var(--c)) left top,
    repeating-linear-gradient( 45deg,var(--c)) left bottom;
  background-size:  200% 50%;
  background-repeat: no-repeat;
  animation: l4 2s infinite linear;
}
@keyframes l4 {
    100% {background-position:top right,bottom right}
}

/* .loader-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */